<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge 4</title>
    <link rel="stylesheet" href="../challengeStyle.css">
    <script src="/dist/challenge4/checkNumber.js"></script>
</head>
<body>
    <div class="container" id="passwordGenerator">
        <h1>DAY 4</h1>
        <p>
            Escribe un programa que, dado un número, compruebe y muestre si es primo, fibonacci y par.<br>
            Ejemplos:<br>
            - Con el número 2, nos dirá: "2 es primo, fibonacci y es par"<br>
            - Con el número 7, nos dirá: "7 es primo, no es fibonacci y es impar"<br>
        </p>
        <br>
        <input type="number" name="checkNumber" id="checkNumber"><br>
        <button id="btnCheck">Check</button>
        <p id="answer"></p>
        <br>
        <button id="home">Home</button>
    </div>
</body>
</html>